<app-menu-title></app-menu-title>

<div class="container__articles" *ngIf="mainArticle">
  <div class="articles__main">
    <app-big-card
      [Id]="mainArticle.id"
      [photoCover]="mainArticle.photoCover"
      [cardTitle]="mainArticle.title"
      [cardDescription]="mainArticle.description">
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      *ngFor="let article of sideArticles"
      [Id]="article.id"
      [cardTitle]="article.title"
      [photoCover]="article.photoCover">
    </app-small-card>
  </div>
</div>
